<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}

    <title>{% block title %}{% trans "Login" %}{% endblock %}</title>

    {% block content %}
        <h2>{% trans "Login" %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Login" %}</button>
        </form>
         <a id="qsLoginBtn" class="btn btn-primary btn-lg btn-login btn-block" style="width:200px; margin-top: 10px;"
               href="/dyplomowanie/login/auth0">Log In by Auth0</a>
    {% endblock %}
{% endlanguage %}