<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
         {% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Email Sent" %}{% endblock %}

{% block content %}
  <h1>{%  trans "Check your inbox." %}</h1>
  <p>{%  trans  "We've emailed you instructions for setting your password. You should receive the email shortly!"%}</p>
{% endblock %}
{%  endlanguage %}