<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
         {% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<h1>{% trans "Password reset complete" %}</h1>
<p>{%  trans "Your new password has been set. You can log in now on the " %}<a href="{% url 'login' %}">{%  trans "log in page" %}</a>.</p>
{% endblock %}
{% endlanguage %}