<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
         {% get_current_language as LANGUAGE_CODE %}

{% block title %}{%  trans "Enter new password" %}{% endblock %}

{% block content %}
<h1>{%  trans "Set a new password!" %}</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value={% trans "Change my password"%}>
</form>
{% endblock %}
{%  endlanguage %}
