<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
         {% get_current_language as LANGUAGE_CODE %}

{% block title %}{%  trans "Forgot Your Password?" %}{% endblock %}

{% block content %}
  <h1>{% trans  "Forgot your password?"%}</h1>
  <p>{%  trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value={% trans "Send me instructions!" %}>
  </form>
</div>
{% endblock %}
{% endlanguage %}
