{% extends 'dyplomowanie/index.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}
    {% block content %}
        <form action="" method="POST">
            {% csrf_token %}
            {% trans "Thesis topic:" %}
            <input type="text" name="thesisTopic" style='width:50%' /><br/>
            {% trans "Major:" %}
            <input type="text" name="major" disabled="disabled" contenteditable="false" value="Informatyka"><br/>
            {% trans "Specjalization:" %}
            <select name="specialization" style='width:40%' >
                <option value="0">{% trans "--Choice specjalization--" %}</option>
                {% for item in specialization %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select><br/>
            {% trans "Language:" %}
            <select type="text" name="language">
                <option value="0">{% trans "--Choice language--" %}</option>
                {% for item in languages %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select><br/>
            {% trans "Student:" %}
            <select type="text" name="student">
                <option value="0">{% trans "--Choice student--" %}</option>
                {% for student in students %}
                    <option value="{{ student.studentId }}">{{ student.studentCardId }}</option>
                {% endfor %}
            </select><br/>
            <br/>
            {% trans "Short description:" %}<br/>
            <textarea cols="50" rows="5" name="textContent"></textarea><br/>

            <input type="button" class="btn btn-secondary" value={% trans "Cancel" %} onclick=location.href="{% url 'listOfTopics' %}">
            <input type="submit" class="btn btn-secondary" value={% trans "Add topics" %}>
        </form>
    {% endblock %}

{% endlanguage %}
