{% extends 'dyplomowanie/index.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="topicStatus">
        <form action="" method="POST">
            {% csrf_token %}
        <div class="topicName">
            <h5 class="topic">{% trans "Thesis topic:" %}</h5>
            <h5 class="topic">{{ these.thesisTopic }} </h5>
        </div>
            <label >{% trans "Short description:" %}</label>
            <textarea cols="50" rows="5" name="textContent" disabled="disabled">{{ these.textContent }}</textarea><br/>
            <label >{%  trans "Change topic status:" %}</label>
            <select name="status">
                <option value="{{ these.status }}" selected>{{ these.status }}</option>
                {% for item in statuses %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select><br/>
        <div class="save">
            <button type="submit" class="btn btn-secondary">{%  trans "Save" %}</button>
        </div>
        </form>
    </div>
{% endblock %}
{% endlanguage %}