{% extends 'dyplomowanie/index.html' %}
{% block content %}
{% load i18n %}
{% language request.COOKIES.django_language %}
{% get_current_language as LANGUAGE_CODE %}
    <div class="head">
        {% trans "Generating a list with promoters and students to the subscription system" %}
    </div>
    {#    <button type="button" class="btn btn-secondary" onclick=location.href="{% url '' %}">#}
    {#        Wygeneruj listę</br>#}
    {#    </button>#}
    <div style="margin-bottom: 1%">
        {% trans "Preview generated list" %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 25%">{% trans "Thesis topic:" %}</th>
            <th scope="col">{% trans "Language: " %}</th>
            <th scope="col">{% trans "Name:" %}</th>
            <th scope="col">{% trans "Surname:" %}</th>
            <th scope="col">{% trans "Student id:" %}</th>
            <th scope="col" style="width: 12%">{% trans "Grade:" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for these in thesis %}
            <tr>
                <th scope="row">{{ these.thesisTopic }}</th>
                <td>{{ these.supervisor.lecturerName }} {{ these.supervisor.lecturerSurname }}</td>
                <td>{{ these.studyId.studentId.studentName }}</td>
                <td>{{ these.studyId.studentId.studentSurname }}</td>
                <td>{{ these.studyId.studentId.studentCardId }}</td>
                <td>{{ these.studyId.degree }}</td>
                {#            <td><button type="button" class="btn btn-secondary small">Usuń temat</button></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-secondary" style="margin-left: 47%"
            onclick=location.href="{% url 'saveFile' %}">
        {% trans "Save file" %}
    </button>
{% endlanguage %}
{% endblock %}
