{% extends 'dyplomowanie/index.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}
    {% block content %}
        <h1>{% trans "Edit topics" %}</h1>

        <form action="" method="POST">
            {% csrf_token %}
            {% trans "Thesis topic:" %} <input type="text" name="thesisTopic" style='width:50%' value="{{ these.thesisTopic }}"/><br/>
            {% trans "Major:" %} <input type="text" name="major" contenteditable="false" disabled="disabled"
                                        value="{{ these.major }}"><br/>
            {% trans "Specjalization:" %} <input type="text" name="specialization" contenteditable="false" disabled="disabled" style='width:40%'
                                                 value="{{ these.specialization }}"><br/>
            </select>
            {% trans "Language:" %}
            <select type="text" name="language">
                <option value="{{ these.language }}" selected>{{ these.language }}</option>
                {% for item in languages %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select><br/>
            {% trans "Student:" %}
            <select type="text" name="student">
                {% if these.studyId.studentId %}
                    <option value="{{ these.studyId.studentId.studentId }}">{{ these.studyId.studentId.studentCardId  }}</option>
                {% else %}
                    <option value="0">{% trans "--Choice student--" %}</option>
                {% endif %}
                {% for student in students %}
                    <option value="{{ student.studentId }}">{{ student.studentCardId }}</option>
                {% endfor %}
            </select><br/>
            {% trans "Short description:" %}<br/>
            <textarea cols="50" rows="5" name="textContent">{{ these.textContent }}</textarea><br/>
            <input class="btn btn-secondary" type="button"
                   value="{% trans "Cancel" %}" onclick=location.href="{% url 'reviewerView' %}">
            <input type="submit" value="{% trans "Save" %}" style="margin-top: 0" class="save btn btn-secondary">
        </form>
    {% endblock %}
{% endlanguage %}
