<!DOCTYPE html>
<html style="height: 100%">
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}

    <head>
        <title>{% block title %}{% trans "Diplome" %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <meta charset="utf-8">
    </head>

    <body style="height: 100%">
    <div clas="row" style="height: 100%">
        <div class="column" style="float: left; width: 15%; height: 100%">
            <div class="cont container-fluid" style="height: 100%">
                <div class="panel" style="height: 100%">
                    <div class="menu">
                        {% if 'admin' in  groups %}
                            {% trans "Administrator menu" %}
                        {% elif 'prowadzacy' in groups %}
                            {% trans "Reviewer menu" %}
                        {% elif 'student' in groups %}
                            {% trans "Student menu" %}
                        {% elif 'sekcjaDyplomowania' in groups %}
                            {% trans "Diploma section menu" %}
                        {% elif 'pelnomocnik' in groups %}
                            {% trans "Attorney for the field of study menu" %}
                        {% endif %}
                    </div>
                    <div class="btn-group-vertical but-menu" role="group" aria-label="Basic example">
                        {#                We should block some button depend hwo is log in#}
                        {% if 'prowadzacy' in groups or 'admin' in groups or 'pelnomocnik' in groups %}
                            <button type="button" class="btn btn-secondary"
                                    onclick=location.href="{% url 'listOfTopics' %}">{% trans "List of diploma thesis" %}
                            </button>
                        {% endif %}
                        {% if 'prowadzacy' in groups or 'admin' in groups %}
                            <button type="button" class="btn btn-secondary"
                                    onclick=location.href="{% url 'reviewerView' %}">{% trans "Review of diploma thesis" %}
                            </button>

                        {% endif %}

                        {% if 'student' in  groups or 'admin' in groups or 'sekcjaDyplomowania' in groups %}
                            <button type="button" class="btn btn-secondary"
                                    onclick=location.href="{% url 'topicChoice' %}">
                                {% trans "Choice of topic" %}
                            </button>
                        {% endif %}

                        {% if 'admin' in groups or 'sekcjaDyplomowania' in groups %}
                            <button type="button" class="btn btn-secondary"
                                    onclick=location.href="{% url 'topicsPublication' %}">
                                {% trans "Publish topics" %}
                            </button>
                        {% endif %}

                        {% if 'admin' in groups or 'pelnomocnik' in groups %}
                            <button type="button" class="btn btn-secondary"
                                    onclick=location.href="{% url 'topicsAcceptance' %}">
                                {% trans "Acceptance of topics" %}
                            </button>
                        {% endif %}
                        {% if 'admin' in groups %}
                            <button type="button" class="btn btn-secondary"
                                    onclick=location.href="{% url 'listForRecordings' %}">{% trans "Generating a list with promoters and students to the subscription system" %}
                            </button>
                        {% endif %}
                        <a id="qsLoginBtn" class="btn btn-warning"
                               href="http://psi2019.auth0.com/v2/logout?returnTo=http%3A%2F%2F127.0.0.1:8000/dyplomowanie/logout">{% trans "Log out" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="width: 80%; float: left; display: block;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {#        <div class="container-fluid" style="height: 100%">#}
    {#            <div class="row" style="height: 100%">#}
    {##}
    {#            </div>#}
    {#        </div>#}
    </body>
{% endlanguage %}
</html>