{% extends 'dyplomowanie/index.html' %}
{% block content %}
{% load i18n %}
{% language request.COOKIES.django_language %}
{% get_current_language as LANGUAGE_CODE %}
<div class="head">{%  trans "List of topics" %}</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col" style="width: 25%">{%  trans "Thesis topic" %}</th>
        <th scope="col" >{%  trans "Promoter" %}</th>
        <th scope="col" >{%  trans "Busy" %}</th>
        <th scope="col" >{%  trans "Major" %}</th>
        <th scope="col" >{%  trans "Specjalization" %}</th>
        <th scope="col" style="width: 12%">{%  trans "Language" %}</th>
        <th scope="col" style="width: 5%">{% trans "Status" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for these in thesis %}
        <tr>
            <th scope="row">{{ these.thesisTopic }}</th>
            <td>{{ these.supervisor.lecturerName }} {{ these.supervisor.lecturerSurname }}</td>
            <td>{{ these.isTaken }}</td>
            <td>{{ these.major }}</td>
            <td>{{ these.specialization }}</td>
            <td>{{ these.language }}</td>
            <td>{{ these.status }}</td>

{#            <td><button type="button" class="btn btn-secondary small">Usuń temat</button></td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="container-fluid">
    <div class="row" style="height: 100px">
        <div class="btn-group-horizontal" role="group" aria-label="Basic example" style="margin-left: 47%">
            <button type="button" class="btn btn-secondary" onclick=location.href="{% url 'addTopic' %}">{%  trans "Add topic" %}</button>
        </div>

    </div>
</div>
{% endlanguage %}
{% endblock %}
