<!DOCTYPE html>
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <meta charset="UTF-8">
    <title>{% block tittle %}{% trans "Diplome" %} {%  endblock %}</title>
</head>
<body>
{% block content %}
{% endblock %}
{% endlanguage %}
</body>
</html>