{% extends 'dyplomowanie/index.html' %}
{% block content %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}
    <div class="head">
        {% trans "List of thesis for review" %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 25%">{% trans "Thesis topic" %}</th>
            <th scope="col">{% trans "Author" %}</th>
            <th scope="col">{% trans "Promoter" %}</th>
            <th scope="col">{% trans "Mark" %}</th>
            <th scope="col" style="width: 10%">{% trans "Review" %}</th>
            <th scope="col" style="width: 5%">{%  trans "Edit" %}</th>
            <th scope="col" style="width: 5%">{%  trans "Delete" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for these, grade in data %}
            <tr>
                <th scope="row">{{ these.thesisTopic }}</th>
                <td>{{ these.studyId.studentId.studentName }} {{ these.studyId.studentId.studentSurname }}</td>
                <td>{{ these.supervisor.lecturerName }} {{ these.supervisor.lecturerSurname }}</td>
                <td>{{ grade }}</td>
                {% if these.studyId.studentId %}
                <td><a href="{% url 'setMark' pk=these.pk %}">{%  trans "Set mark" %}</a></td>
                {% else %}
                   <td><a href="" class="disabled">{%  trans "Set mark" %}</a></td>
                {% endif %}
                <td><a href="{% url 'editTopic' pk=these.pk %}">{%  trans "Edit topic" %}</a></td>
                <td><a href="{% url 'deleteTopic' pk=these.pk %}">{%  trans "Delete topic" %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endlanguage %}
{% endblock %}