{% extends 'dyplomowanie/index.html' %}
{% block content %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}
    <div class="head">
        {% trans "Assessment of the thesis " %}
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        {%  trans "Thesis topic:" %}
        <input type="text" name="thesisTopic" disabled="disabled" value="{{ these.thesisTopic }}" style="width: 50%"/><br/>
        <div class="reviewForm form-group">
            <label for="review">{%  trans "Review:" %}</label>
            <textarea class="form-control" rows="5" id="review"
                      name="substantiation">{{ grade.substantiation }}</textarea>
        </div>
        <div class="grade form-group">
            <label for="review">{%  trans "Mark" %}</label>
            <input type="text" name="grade" value="{{ grade.gradeValue }}"/><br/>
        </div>
        <button type="submit" class="save btn btn-secondary">{%  trans "Save" %}</button>
    </form>
    </body>
{% endlanguage %}
{% endblock %}