{% extends 'dyplomowanie/index.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}

    {% block content %}
        <div class="head">{% trans "Publish topics" %}</div>
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width: 25%"> {% trans "Thesis topic" %}</th>
                    <th scope="col">{% trans "Promoter" %}</th>
                    <th scope="col">{% trans "Busy" %}</th>
                    <th scope="col">{% trans "Major" %}</th>
                    <th scope="col">{% trans "Specjalization" %}</th>
                    <th scope="col" style="width: 12%">{% trans "Language" %}</th>
                    <th scope="col" style="width: 5%">{% trans "Status publication" %}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for these in thesis %}
                    <tr>
                        <th scope="row">{{ these.thesisTopic }}</th>
                        <td>{{ these.supervisor.lecturerName }} {{ these.supervisor.lecturerSurname }}</td>
                        <td>{{ these.isTaken }}</td>
                        <td>{{ these.major }}</td>
                        <td>{{ these.specialization }}</td>
                        <td>{{ these.language }}</td>
                        <td>{{ these.publishStatus }}</td>
                        {% if these.publishStatus == "opublikowany" %}
                            <td><input type="checkbox" name="checks[]" value="{{ these.pk }}"><br/></td>
                        {% else %}
                            <td><input type="checkbox" name="checks[]" value="{{ these.pk }}" checked><br/></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="buttons">
                <button type="submit" class="publishButton btn btn-secondary" name="all" value="all">
                    {% trans "Publish unpublished topics"%}
                </button>
                <button type="submit" class="publishButton btn btn-secondary" name="publish" value="publish">
                    {%  trans "Publish tagged topics" %}
                </button>
                <button type="submit" class="publishButton btn btn-secondary" name="cancelPublications"
                        value="cancelPublishes">
                    {%  trans "Change the status of marked topics to unpublished" %}
                </button>
            </div>

        </form>


    {% endblock %}
{% endlanguage %}