{% extends 'dyplomowanie/index.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}
    {% block content %}
        <div class="head">{%  trans "Choice thesis" %}</div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 25%"> {% trans "Thesis topic" %}</th>
                <th scope="col">{% trans "Promoter" %}</th>
                <th scope="col">{% trans "Busy" %}</th>
                <th scope="col">{% trans "Major" %}</th>
                <th scope="col">{% trans "Specjalization" %}</th>
                <th scope="col" style="width: 12%">{% trans "Language" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for these in thesis %}
                <tr>
                    <th scope="row">{{ these.thesisTopic }}</th>
                    <td>{{ these.supervisor.lecturerName }} {{ these.supervisor.lecturerSurname }}</td>
                    <td>{{ these.isTaken }}</td>
                    <td>{{ these.major }}</td>
                    <td>{{ these.specialization }}</td>
                    <td>{{ these.language }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endlanguage %}