{% extends 'dyplomowanie/index.html' %}
{% load i18n %}
{% language request.COOKIES.django_language %}
    {% get_current_language as LANGUAGE_CODE %}
    {% block content %}
    <div class="head">{%  trans "Acceptance topics" %}</div>

        <form action="" method="POST">
            <div style="text-align: center">
                Topic 'zaakceptowany' means topic accept by the diploma section and 'zatwierdzony' means that topic
                is accepted by faculty Council.
            </div><br>
        <div style="text-align: center">
            <button type="submit" class="btn btn-secondary" name="accept" value="accept" style="margin-bottom: 1%">
                {% trans "Accept checked topics"%}
            </button>
        </div>
        {% csrf_token %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width: 25%"> {% trans "Thesis topic" %}</th>
                    <th scope="col">{% trans "Promoter" %}</th>
                    <th scope="col">{% trans "Busy" %}</th>
                    <th scope="col">{% trans "Major" %}</th>
                    <th scope="col">{% trans "Specjalization" %}</th>
                    <th scope="col">{% trans "Busy" %}</th>
                    <th scope="col" style="width: 12%">{% trans "Language" %}</th>
                    <th scope="col" style="width: 5%">{% trans "Status" %}</th>
                    <th scope="col" style="width: 5%">{% trans "Change status" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for these in thesis %}
                    <tr>
                        <th scope="row">{{ these.thesisTopic }}</th>
                        <td>{{ these.supervisor.lecturerName }} {{ these.supervisor.lecturerSurname }}</td>
                        <td>{{ these.isTaken }}</td>
                        <td>{{ these.major }}</td>
                        <td>{{ these.specialization }}</td>
                        <td>{{ these.isTaken }}</td>
                        <td>{{ these.language }}</td>
                        <td>{{ these.status }}</td>
                        {% if these.status != "zaakceptowany" and these.status != "zatwierdzony" %}
                            <td><input type="checkbox" name="checks[]" value="{{ these.pk }}" checked><br/></td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    {% endblock %}
{% endlanguage %}
