.panel {
    background: azure;
    /*margin-left: %*/
}

.menu {
    background-color: lightsteelblue;
    text-align: center;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 2%;
}

.head {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 1%;
}

.reviewForm {
    width: 60%;
}

body {
    margin-right: 1%;
}

/*.topic {*/
    /*margin-left: 20%;*/
/*}*/

.publishButton {
    float: left;
    margin-right: 5px;
}

.buttons{
    margin-left: 20%;
    margin-top: 2%;
}

.buttonsAcceptance{
    /*margin-left: 20%;*/
    /*margin-top: 1%;*/
    /*margin-bottom: 1%;*/
}

.btn {
    white-space: normal;
}

.but-menu{
    display: block;
    float: left;
    width: 100%;
}

.cont{
    padding-left: 0px !important;
}

.login{
    text-align: center;
    margin-top: 8%;
}

.choose{
    margin: auto;
    /*margin-top: 2%;*/
    display: inline-flex;
}

.topicStatus{
    margin-left: 25%;
    /*text-align: center;*/
}

.topicName{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 30%;
    text-align: center;
}

.save{
    margin-top: 1%;
    margin-right: 30%;
    text-align: center;
}

.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}