<!-- templates/base.html -->
<!DOCTYPE html>
<html>
{% load i18n %}
  {% language request.COOKIES.django_language %}
         {% get_current_language as LANGUAGE_CODE %}

<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
{%  endlanguage %}
</html>