<!-- templates/home.html -->
{% extends 'base.html' %}
{% load i18n %}
  {% language request.COOKIES.django_language %}
         {% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Manage account" %}{% endblock %}

{% block content %}
  {% language request.COOKIES.django_language %}
         {% get_current_language as LANGUAGE_CODE %}
      <div class="login">
          {% if user.is_authenticated %}
              <h2>{% trans "Welcome user" %} </h2><h4>{{ user.username }}!</h4>
              <p><a href="{% url 'index' %}">{% trans "The diploma process" %}</a></p>
              <p><a href="{% url 'logout' %}">{% trans "Log out" %}</a></p>
              <p><a href="{% url 'password_reset' %}">{% trans "Reset password" %}</a></p>
          {% else %}
              <h3><p>{% trans  "You are not logged in" %} </p></h3>
              <a id="qsLoginBtn" class="btn btn-info btn-login btn-block" style="width:200px; margin: auto"
                 href="/dyplomowanie/login/auth0">Log In by Auth0</a>
{#              <h4><a href="{% url 'login' %}">{% trans  "login"%}</a></h4>#}
          {% endif %}
          <form action="{% url 'set_language' %}" method="post" style="margin-top: 1%">{% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}">
              <div class="choose">
                  <select name="language" class="form-control">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}

                              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                  {{ language.name_local }} ({{ language.code }})
                              </option>

                      {% endfor %}
                  </select>
                  <input type="submit" class="btn btn-info" value="Go">
              </div>


          </form>
      </div>
    {%  endlanguage %}
  {% endblock %}
  {% endlanguage %}

